body {
  background-color: black;
  color: white;
  font-family: "ptserif";
}

h1 {
  font-size: 30pt;
}

@media (max-width: 350px) {
  h1 {
    font-size: 15pt;
  }
}

@font-face {
  font-family: "ptserif";
  src:
    url("/fonts/PTSerif-Regular.ttf") format("truetype"),
}
